:root {
  --transition: all linear 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.ponto {
  color: #ffbb00;
}

.btn-yellow {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.33;
  text-transform: uppercase;
  color: #332200;
  font-weight: bold;
  padding: 1.6rem 3.2rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.btn-yellow:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 800px) {
  .btn-yellow {
    font-size: 1.5rem;
  }
}

/* Start Header Styles */

.header-bg {
  background: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  padding: 1rem 0;
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 0.2rem;
  background: #fff;
  transition: var(--transition);
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 1.5rem;
  }

  .header-menu a {
    background: #111;
    padding: 1rem;
    border-radius: 4px;
    transition: var(--transition);
  }

  .header-menu a:hover {
    background: #2e2e2e;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1.6rem;
  }

  .header-menu a {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}

/* End Header Styles */

/* Start Intro Styles */

.introducao-bg {
  background: #000;
  color: #fff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 3rem;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 5rem;
}

.introducao h1 {
  margin-bottom: 3rem;
  font-size: 6.4rem;
  line-height: 1.12;
}

.introducao p {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #b2b2b2;
}

.introducao-imagem {
  margin-bottom: -120px;
}

.introducao img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 1100px) {
  .introducao h1 {
    font-size: 4.8rem;
  }
  .introducao p {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    padding-top: 5rem;
  }
  .introducao h1 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  .introducao img {
    height: 300px;
    width: 100%;
  }
}

/* End Intro Styles */
