* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-bg {
  background: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.header-menu a {
  padding: 1rem 0;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 0.2rem;
  background: #fff;
  transition: all linear 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 1.5rem;
  }

  .header-menu a {
    background: #111;
    padding: 1rem;
    border-radius: 4px;
    transition: all linear 0.3s;
  }

  .header-menu a:hover {
    background: #2e2e2e;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 1.2rem;
  }

  .header-menu a {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
  }
}
