.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background: url("../../img/dec/top-right.svg") no-repeat top 2rem right 2rem;
}

.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem span {
  color: var(--cor-white);
  position: absolute;
  top: 1rem;
  right: 0;
  padding: 0.5rem 0.8rem;
  background: var(--cor-s11);
  border-radius: 5px 0 0 5px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 0.5rem;
  background: var(--cor-p01);
  margin-bottom: 0.5rem;
}

.bicicletas-conteudo p,
.bicicletas-conteudo ul {
  color: var(--cor-s08);
}

.bicicletas li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.bicicletas li img {
  width: 24px;
}

.bicicletas .btn {
  place-self: end;
}

.destaque {
  background: linear-gradient(90deg, var(--cor-white) 30%, var(--cor-s11) 0%);
}

.destaque h2 {
  color: var(--cor-white);
}
.destaque p,
.destaque ul {
  color: var(--cor-s05);
}

@media (max-width: 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
  }
  .destaque {
    background: var(--cor-s11);
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas .btn {
    place-self: start;
    margin-top: 1rem;
  }
}

/* Start Pagina de bicicleta */

.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

#bicicleta .titulo p {
  text-transform: uppercase;
}
#bicicleta .bicicletas-lista ul {
  padding: 0;
  margin-bottom: 4rem;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo p {
  color: var(--cor-s05);
  margin-bottom: 1.5rem;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 0.5rem 1rem;
}

.bicicleta-comprar .btn {
  grid-row: span 2;
}

.bicicleta-comprar span {
  color: var(--cor-s06);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--cor-s12);
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
}
.bicicleta-conteudo h2 {
  color: var(--cor-white);
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.bicicleta-conteudo h3 {
  color: var(--cor-white);
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 1.6rem;
  background: var(--cor-s12);
  border-radius: 4px;
  color: var(--cor-s04);
}

.bicicleta-ficha {
  color: var(--cor-s04);
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.bicicleta-informacoes img {
  width: 24px;
  margin-bottom: 0.5rem;
}
.bicicleta-informacoes h3 {
  margin-bottom: 0.5rem;
}

.bicicleta-ficha li {
  padding: 0.4rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-s11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}
.bicicleta-ficha span {
  color: var(--cor-s06);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
  }

  .bicicleta-imagens {
    grid-row: 2;
  }
}

@media (max-width: 600px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}

.seguro-bg {
  background: var(--cor-s11);
  box-shadow: inset 0 5rem var(--cor-white), inset 0 -5rem var(--cor-s12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.seguro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.seguro h2 {
  color: var(--cor-white);
}

.seguro p {
  color: var(--cor-s05);
  margin: 1rem 0;
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: none;
  }

  .seguro {
    grid-template-columns: 1fr;
  }

  .seguro-conteudo {
    grid-row: 1;
    padding-top: 2rem;
    padding-bottom: 0;
  }

  .seguro-imagem {
    padding-top: 0;
  }
}
