#contato {
  background: linear-gradient(var(--cor-s11) 800px, var(--cor-s01) 0);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 3rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  background: var(--cor-s12);
  border-radius: 5px 0 0 5px;
}
.contato-formulario {
  background: var(--cor-white);
  border-radius: 0 5px 5px 0;
}

.contato h2 {
  color: var(--cor-white);
  margin-bottom: 2rem;
}

.contato-endereco {
  margin-bottom: 1rem;
  background: url("../../img/icones/local.svg") no-repeat 0px 2px;
  padding-left: 1.5rem;
  color: var(--cor-s04);
}

.contato-meios a {
  color: var(--cor-s04);
  display: block;
  max-width: max-content;
  margin-bottom: 0.8rem;
  padding-left: 1.5rem;
}

.contato-meios a:hover {
  color: var(--cor-white);
  transition: var(--transition);
}

.contato-meios a:first-child {
  background: url("../../img/icones/email.svg") no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 1.5rem;
}

.contato-meios a:nth-child(3) {
  background: url("../../img/icones/telefone.svg") no-repeat 0px 2px;
}

.contato-redes {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  padding-left: 1.5rem;
}

@media (max-width: 800px) {
  #contato {
    background: var(--cor-s01);
  }

  .contato {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }

  .contato-dados {
    border-radius: 5px 5px 0 0;
  }

  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }
}
