.ponto {
  color: var(--cor-p01);
}

.btn {
  display: inline-block;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--cor-p05);
  padding: 1.4rem 2.8rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: max-content;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.btn.secundario {
  background: var(--cor-s10);
  color: var(--cor-s02);
}

.btn.secundario:hover {
  background: var(--cor-s09);
}

.btn.seta {
  display: flex;
  align-items: center;
}

.btn.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 0.5rem;
  background: url(../../img/icones/seta.svg);
  transition: var(--transition);
}

.btn.seta:hover::after {
  transform: translateX(0.3rem);
}

@media (max-width: 800px) {
  .btn {
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p01);
  font: 500 1.3rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  transition: var(--transition);
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.15rem;
  background: currentColor;
}

.link:hover {
  color: var(--cor-white);
}

.titulo-bg {
  background: var(--cor-s11);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.titulo {
  background: url("../../img/dec/top-right.svg") no-repeat top 2rem right 2rem;
}

.titulo p {
  margin-bottom: 0.2rem;
  color: var(--cor-s05);
}

.titulo h1 {
  color: var(--cor-white);
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
  }
}
