* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* font-size: 62.5%; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img:not(.logo) {
  display: block;
  max-width: 100%;
  border-radius: 4px;
}

/* img:not([src$=".svg"]) {
  display: block;
  max-width: 100%;
  border-radius: 4px;
} */

.logo {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.container-large {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}
