.parceiros {
  padding: 6rem 0 8rem 0;
}

.parceiros h2 {
  margin-bottom: 3rem;
}

.parceiros ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  padding: 2rem;
  display: flex;
  border-left: 2px solid var(--cor-s02);
}

.parceiros img {
  margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-s02);
}

@media (max-width: 800px) {
  .parceiros ul {
    grid-template-columns: 1fr 1fr;
  }

  .parceiros li {
    padding: 1.5rem;
  }

  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-s02);
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}
